<div class="chart-container center-block no-float row">
  <h2>Distribución del Presupuesto</h2>
  <div class="col-lg-7">
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="datadp" chart-labels="labelsdp" chart-colours="coloursdp">
    </canvas>
  </div>
  <div class="col-lg-4">
    <ul class="chart-desc">
      <li ng-repeat="item in itemsdp">{{ item.label}}: <strong style="color: {{ item.color }};">{{ item.data }}</strong></li>
    </ul>
  </div>
</div>

<div class="chart-container center-block no-float row">
  <h2>Histórico del Presupuesto</h2>
  <div class="col-lg-8 col-lg-offset-2">
    <canvas id="line" class="chart chart-bar" chart-data="datahp" chart-labels="labelshp"></canvas>
  </div>
</div>


<div class="chart-container center-block no-float row">
  <h2>Histórico de Gastos e Ingresos</h2>
  <div class="col-lg-8 col-lg-offset-2">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
  </div>
</div>
