<h2>Objetivo</h2>
<p>El objetivo de este proyecto es crear una aplicación web que permita a los usuarios visualizar de forma amigable datos sobre el presupuesto público de la Alcaldía municipal de Neiva (Colombia) que facilite ejercer el control ciudadano sobre los recursos públicos.</p>

<h2>Justificación</h2>
<p>Los ciudadanos tienen dificultades para ver el proceso de destinación y utilización de recursos de la administración pública. La información suele ser poco entendible para el ciudadano del común, dada la complejidad del tema de hacienda pública y cómo se presenta, además de estar generalmente en formatos que dificultan su procesamiento para un posterior análisis.</p>
<p>Con la facilidad de acceso a internet los ciudadanos pueden encontrar una forma más amigable para ver el proceso de apropiación, destinación y ejecución de los recursos públicos de la ciudad donde habita. Para esto, las aplicaciones web y móviles tienen la facilidad de presentar gran cantidad de información de manera gráfica que permiten dar un mensaje más claro y sencillo a los usuarios sobre una situación específica.</p>
<p>Los ciudadanos necesitan formas más directas de participación a través de fuentes de información más claras, lo cual les permita tomar decisiones, realizar actividades comunitarias o promover la organización social y la veeduría sobre la administración pública. La tecnología puede facilitar esta tarea.</p>

<h2>Colabórenos</h2>
<ul>
  <li ng-repeat="sitio in sitios"><a ng-href="{{ sitio.enlace }}">{{ sitio.nombre }}</a></li>
</ul>
